a:hover{
    text-decoration: none;
}

html{
    box-sizing: border-box;
    font-size: 16px;
}

.header{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 105vh;
    /*padding-top: 20px;*/
}

.nav{
    display: flex;
    justify-content: center;
    padding: 5px;
    position: absolute;
    transform: all 0.3s;
    background: rgba(255,255,255,0.2);
    z-index: 9;
    top: 0px;
    width: 100%;
}

.nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav ul li{
    display: flex;
}

.nav ul li a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    color: white;
    padding: 0.25rem 0;
    margin: 10px 1.8rem;
    text-transform: uppercase;
}

.nav ul li.logo .black{
    display: none;
}

.nav ul li.logo a{
    margin: 0 4rem;
}

.nav-icon{
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 5px;
    width: 40px;
    z-index: 1;
    cursor: pointer;
}

.nav-icon span{
    background: white;
    width: 30px;
    height: 1px;
    display: block;
    transition: 300ms linear all;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(3){
    width: 20px;
    margin: 0 auto;
}

.nav-icon span:nth-child(2){
    margin: 9px 0;
    width: 32px;
}

.nav-icon:hover span:nth-child(1),
.nav-icon:hover span:nth-child(3){
    width: 30px
}

.full-nav{
    background: #3ACFCD;
    color: #18191d;
    position: fixed;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    padding: 3.75rem;
    z-index: 99;
    overflow-x: hidden;
    overflow-y: hidden;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100px);
    transition: all .4s ease-in-out;
}

.full-nav.open{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all .4s ease-in-out;
    z-index: 99;
}

.full-nav .logo{
    display: flex;
    justify-content: center;
    padding: 6rem;
}

.nav2{
    display: flex;
    justify-content: center;
}

.nav2 ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
}

.nav2 ul li{
    display: flex;
    flex: 50%;
    background-color: #f5f5f5;
    padding: 1rem;
    border-bottom: 15px solid #3ACFCD;
    border-right: 15px solid #3ACFCD;
    border-left: 15px solid #3ACFCD;
    border-top: 15px solid #3ACFCD;
    transition: all .5s;
}

.nav2 ul li a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4em;
    color: #18191d;
}

.nav2 ul li a span{
    color: #b9b9b9;
}

.nav2 ul li:hover{
    background-color: #ff1637;
    color: white;
}

.nav2 ul li:hover a,
.nav2 vl li: hover a span{
    color: white;
}

.social-icons  a{
    color: white;
    border: 4px solid white;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    display: inherit;
    text-align: center;
    border-radius: 50px;
    transition: all ease 1s;
    margin-top: 40px
}

.social-icons a:hover i{
    color: black;
    margin-top: -10px;
    border-color: black;
}

.social-icons a:hover{
    color: black;
    margin-top: -10px;
    border-color: black;
}


ul.social-icons.list-inline{
    text-align: center;
    margin-top: 22px;
}

.list-inline > li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.corner-circle{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 0 0 0 120px;
    z-index: 2;
}

.nav-close{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.nav-close span{
    background: black;
    width: 30px;
    height: 1px;
    display: block;
    position: absolute;
    top: 14px;
}

.nav-close span:nth-child(1){
    transform: rotate(45deg);
}

.nav-close span:nth-child(2){
    transform: rotate(-45deg);
}

.nav.sticky{
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.35);
    animation-name: animationFade;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes animationFade{
    from{
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to{
        opacity: 1;
        transform: none;
        -webkit-transform: none;
        -o-transform: none;
        
    }
}

.nav.sticky a{
    color: #18191d;
}

.nav.sticky ul li.logo .white{
    display: none;
}

.nav.sticky ul li.logo .black{
    display: inline-block;
}

.nav.sticky .nav-icon span{
    background: #18191d;
}

video#herovideo{
    position: rel;
    width: 100%;
    height: auto;
}

.bx-wrapper .social-icons a{
    color: white;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: inherit;
    text-align: center;
    padding-top: 5px;
    transition: all ease 1s;
    background: #000;
    border-radius: 0px;
}

.bx-wrapper .social-icons a i{
    position: relative;
    bottom: 7px;
}

.vidcontent{
    position: absolute;
    top: 290px;
    color: #f1f1f1;
    width: 100%;
    padding-left: 190px;
    padding-top: 250px;
    padding-right: 550px;
    text-align: left;
}

.vidcontent h1{
    font-family: "Oswald", sans-serif;
    font-size: 5em;
    font-weight: bold;
    color: skyblue;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.vidcontent p{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2em;
}

#vidBtn{
    font-family: "Roboto Condensed", sans-serif;
    display: inline-block;
    font-size: 16px;
    padding: 15px 40px;
    border: none;
    background: white;
    color: #333;
    cursor: pointer;
    margin-top: 18px;
    border-radius: 50px;
    animation: shadow-pulse 2s infinite;
    text-transform: uppercase
}

@keyframes shadow-pulse{
    0%{
        box-shadow: 0 0 0 0px rgba(128, 255, 212,0.2);
    }
    100%{
        box-shadow: 0 0 0 20px rgba(128, 255, 212,0);
    }
}

#vidBtn:hover{
    background: white;
    color: black;
    text-decoration: none;
}

.social-icons a{
    color: #333 !important;
    border: 4px solid white;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    display: inherit;
    text-align: center;
    border-radius: 50px;
    transition: all ease 1a;
    margin-top: 40px;
    background: white !important;
}

ul.social-icons.list-inline{
    text-align: center;
    margin-top: 22px;
}

.list-inline > li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

#about-us{
    width: 100%;
}

#about-us .carousel-indicators{
    position: static;
    padding-top: 400px;
}

#about-us .carousel-indicators li{
    background-color: black;
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.carousel-control-prev-icon{
    background-image: url(..//Images/left-arrow.svg);
    padding: 25px;
}

.carousel-control-next-icon{
    background-image: url(..//Images/right-arrow.svg);
    padding: 25px;
}

#about-us .carousel-control-next,
#about-us .carousel-control-prev{
    width: 40px;
}

#about-us .carousel-control-next{
    right: -35px;
}

#about-us .carousel-control-prev{
    left: -35px;
}

#about-us h3{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 700;
    color: #6c757d !important;
}

p.lead{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #6c757d !important;
}

h4.text-dark{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 21px;
}

p.text-secondary{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: darkgray;
}

#contents{
    margin-top: -450px;
}

.row.no-gutter [class*=col-]{
    padding-left: 0;
    padding-right: 0;
}

#work h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 56px;
    color: #6c757d !important;
}

.img-wrapper{
    overflow: hidden;
}

.img-wrapper img{
    transition: transform .5s ease;
}

.img-wrapper img:hover{
    transform: scale(1.5);
    cursor: zoom-in;
}

#work img{
    width: 100%;
    height: 100%;
}

#team{
    text-align: center;
    color: gray;
    padding-top: 50px;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
}

#team h5{
    font-size: 1.2rem;
    font-weight: 599;
    margin-bottom: 1.5rem;
    color: #ff1737;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#team h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 599;
    color: gray;
    font-family: 'Oswald', sans-serif;
    line-height: 1.2;
    max-width: 650px;
    margin: 0 auto 1.5rem;
    letter-spacing: 1px;
}

#team .hi-slide{
    position: relative;
    width: 800px;
    height: 300px;
    border-radius: 50px;
    margin: 85px auto 85px;
}

#team .hi-slide .hi-next,
#team .hi-slide .hi-prev{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: black;
    color: red;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}

#team .hi-slide .hi-next:hover,
#team .hi-slide .hi-prev:hover{
    opacity: 1;
    background-color: white;
}

#team .hi-slide .hi-prev{
    left: -69px;
}

#team .hi-slide .hi-prev::before{
    content: '<'
}

#team .hi-slide .hi-next{
    left: 769px;
}

#team .hi-slide .hi-next::before{
    content: '>'
}

#team .hi-slide > ul{
    list-style: none;
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0;
    padding: 0;
}

#team .hi-slide > ul > li{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 400px;
    top: 300px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid black;
    cursor: pointer;
    background-color: #333;
}

#team .hi-slide > ul >li > img{
    width: 100%;
    height: 100%;
    background-position: center;

}

/*.hi-slide1{
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 50px;
    margin: 115px auto 0;
}

.hi-slide1 .hi-next1,
.hi-slide1 .hi-prev1{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: black;
    color: red;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}

.hi-slide1 .hi-next1:hover,
.hi-slide1 .hi-prev1:hover{
    opacity: 1;
    background-color: white;
}

.hi-slide1 .hi-prev1{
    left: -69px;
}

.hi-slide1 .hi-prev1::before{
    content: '<'
}

.hi-slide1 .hi-next1{
    left: 769px;
}

.hi-slide1 .hi-next1::before{
    content: '>'
}

.hi-slide1 > ul{
    list-style: none;
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0;
    padding: 0;
}

.hi-slide1 > ul > li{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 400px;
    top: 300px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid black;
    cursor: pointer;
    background-color: #333;
}

.hi-slide1 > ul >li > img{
    width: 100%;
    height: 100%;
    background-position: center;

}*/

.live{
    background-image: url(..//Images/live.jpg);
    padding-top: 130px;
    padding-bottom: 130px;
    background-attachment: fixed;
}

.live h2{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.live p{
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.live a{
    font-family: 'Oswald', sans-serif;
    padding: 15px 30px;
    background: transparent;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 13px;
    transition: all 0.5s ease-in;
    border: 2px solid white;
}

.services a:hover{
    padding: 15px 30px;
    font-family: 'Oswald', sans-serif;
    background: white;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #ea1717;
    font-size: 13px;
}

.numbers{
    background-image: url(..//Images/guitar.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 140px;
    padding-bottom: 150px;
    font-family: 'Oswald', sans-serif;
    
}

.color-fff{
    color: white;
}

.fs-35{
    font-size: 70px;
}

.fw-700{
    font-weight: bold;
}

.color-aaa{
    text-transform: uppercase;
    font-size: 500;
    margin-bottom: 20px;
    font-size: 18px;
    color: white !important;
    letter-spacing: 2px;
}

.numbers .fa{
    font-size: 65px;
}

footer{
    background-color: #1c1c1d;
    padding-top: 30px;
    border-top: 5px solid rgba(0,0,0,0.1);
}

#contact-left h2,
#contact-right h3{
    color: white !important;
    font-synthesis: 27px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Roboto Condensed', sans-serif;
}

#contact-left p{
    color: white;
    margin-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    
}


address{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

address strong{
    font-size: 17px;
}

form .form-control{
    background: transparent;
    border-radius: 0;
    border-color: white;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 17px;
    margin-bottom: 20px;
    color: white;
}

#footer-bottom{
    background-color: rgba(0,0,0,0.1);
    padding: 30px 0;
    margin-top: 59px;
}

#footer-copyrights p{
    margin: 0;
    color: white;
}

#footer-menu{
    float: left;
    color: white;
    font-size: 17px;
    font-weight: 300;
}

#footer-menu ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li{
    display: inline-block;
}

#footer-menu a{
    color: white;
    font-size: 17px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

#footer-menu a:hover{
    color: orangered;
}

ul.social-list{
    display: flex;
    color: white;
    list-style: none;
    padding: 0;
}

ul.social-list li a{
    margin-right: 10px;
    color: white;
}

#btn-white{
    border-color: white;
    color: white;
}

#btn-white:hover{
    border-color: white;
    color: #333;
}

.btn-general{
    border-width: 2px;
    border-radius: 0;
    padding: 12px 25px 12px 25px;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    border-color: white;
}

#footer-copyrights p{
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}